* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: crimson;
}

.card {
    width: 70%;
    background-color: #fff;
    padding: 1.4rem;
    margin: 1.4rem;
    line-height: 2;
    border-radius: 1rem;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21D4FD,#3EECAC);
    border-radius: 6rem;
}