* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.btn2-container {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 2rem 3rem;
    color: #fff;
    position: relative;
    
}

a::before {
    content: "Button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 1s;
    
}

a::after {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: crimson;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.25s;
}

a:hover:before,
a:hover:after
{
    transform: rotateX(0);
}